<div class="container">
  <div class="jumbotron">

    <h1 class="display-4">Britecore Analytics Hire Project</h1>

    <p class="lead">The SPA pages are rendering on the left, with analytics on the Bottom! Please refresh the page to see
    the overall site analytics on the bottom update.
    </p>

    <hr class="my-4">

    <p>Important analytic statistics such as time spent on a page, number of page views, events, and more are tracked.</p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/primary-action" role="button">Primary Action Button</a>
    </p>

    <p>
      <a class="btn btn-secondary btn-lg" routerLink="/secondary-one" role="button">Secondary Button One</a>
    </p>

    <p>
      <a class="btn btn-secondary btn-lg" routerLink="/secondary-two" role="button">Secondary Button Two</a>
    </p>

    <p>
      <a class="btn btn-secondary btn-lg" routerLink="/secondary-three" role="button">Secondary Button Three</a>
    </p>

  </div>

</div>
