* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.add {
  padding-left: 90%;
  color: white;
  font-weight: 900;
  position: relative;
  right: 14px;
}

.add-circle {
  background-color: #364f54;
  border-radius: 50%;
  width: 25px;
  margin-left: 90%;
  margin-top: 10px;
}

.delete {
  float: right;
  padding-right: 10%;
  color: #364f54  
}

label {
  padding-right: 90%;
}

.left {
  background-color: #364f54;
  height: 100vh;
}

.left-content {
  font-weight: 900;
  margin-top: 40%;
  color: white;
}

.left-content > p {
  font-weight: 300;
}

.right-content {
  color: #364f54;
}

.date-container {
  font-weight: 900;
}

.person {
  font-weight: 500;
}

.sub-content {
  padding-left: 10px;
}

.show{
  display: block;
  color: #364f54  
}

li {
  text-align: left;
  list-style: none;
}

.date-container {
  text-align: left;
}

a:hover {
  font-weight: 700;
  font-style: italic;
}

/*Lightbox*/

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .0;
  filter: alpha(opacity=0);
  z-index: 50;
  display: none;
}

.box {
  position: relative;
  top: 20%;
  /*left: 30%;*/
  /*width: 500px;*/
  /*height: 300px;*/
  display: block;
  background: #ffffff;
  z-index: 51;
  padding: 10px;
  margin: 0 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #444444;
  -webkit-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
  display: none;
}

.close {
  float: right;
  margin-right: 6px;
  cursor: pointer;
}




/*Responsiveness*/

*:before,
*:after {
  box-sizing: inherit;
}

.grid {
  width: 100%;
  /*max-width: 1100px;*/
  margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*='col-']{
  width: 100%;
  float:left;
  min-height: 1px;
}

.col {
  /*padding: 1em 0;*/
  /*margin: 8px 0;*/
  text-align: center;
}


/*column width*/


@media screen and (min-width:320px){

.col-S-1 { width: 8.33333%; }

.col-S-2 { width: 16.66667%; }

.col-S-3 { width: 25%; }

.col-S-4 { width: 33.33333%; }

.col-S-5 { width: 41.66667%; }

.col-S-6 { width: 50%; }

.col-S-7 { width: 58.33333%; }

.co-S-8 { width: 66.66667%; }

.col-S-9 { width: 75%; }

.col-S-10 { width: 83.33333%; }

.col-S-11 { width: 91.66667%; }

.col-S-12 { width: 100% ;}

}


@media screen and (max-width: 639px){
    
.add-circle { position: relative; right: 48%; width: 100px; height:50px; bottom: 30px; }

.add { right: 46px; top: 7px; font-size: 30px; }

}
  

@media screen and (min-width:640px){

.col-M-1 { width: 8.33333%; }

.col-M-2 { width: 16.66667%; }

.col-M-3 { width: 25%; }

.col-M-4 { width: 33.33333%; }

.col-M-5 { width: 41.66667%; }

.col-M-6 { width: 50%; }

.col-M-7 { width: 58.33333%; }

.col-M-8 { width: 66.66667%; }

.col-M-9 { width: 75%; }

.col-M-10 { width: 83.33333%; }

.col-M-11 { width: 91.66667%; }

.col-M-12 { width: 100% ;}
    
}


@media screen and (min-width:960px){

.col-L-1 { width: 8.33333%; }

.col-L-2 { width: 16.66667%; }

.col-L-3 { width: 25%; }

.col-L-4 { width: 33.33333%; }

.col-L-4 { width: 33.33333%; margin-top: 100px; }

.col-L-5 { width: 41.66667%; }

.col-L-6 { width: 50%; }

.col-L-7 { width: 58.33333%; }

.col-L-8 { width: 66.66667%; }

.col-L-9 { width: 75%; }

.col-L-10 { width: 83.33333%; }

.col-L-11 { width: 91.66667%; }

.col-L-12 { width: 100% ;} 

}