// -------------------------------
// TABLES
// -------------------------------
table{

	.table__states{
		width: 125px;

		.table__states__state{
			margin-bottom: 4px;
		}
	}

	.table__actions{
		width: 150px;
		text-align: right;
	}

	.table__section{
		background-color: #f5f5f5;
		font-weight: bold;
	}

}