<div class="w3-row-padding">
    <div class="w3-col l3 w3-margin-top">
        <div class="w3-card w3-container w3-white w3-padding-16 ">
            <h4>Sort by</h4>
            <input type="radio" name="sortContact" value="firstname"> <label for="firstName">First Name</label><br>
            <input type="radio" name="sortContact" value="Last Name"> <label for="lastName">Last Name</label><br>
            <input type="radio" name="sortContact" value="title"> <label for="title">Title</label><br>
            <input type="radio" name="sortContact" value="company"> <label for="company">Company</label><br>
            <hr>
            <h4>Filter by</h4>
            <input type="checkbox" name="favorite" value="favorite"> <label for="favorite"><i class="fa fa-thumbs-up" style="font-size:15px"></i> Favorite</label>
        </div>
    </div>
    <div class="w3-col l9 w3-margin-top">
        <div class="w3-card w3-white w3-responsive">
            <table class="w3-table w3-striped w3-centered">
                <tr class="w3-indigo w3-padding-32">
                    <th>Avatar</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Favorite</th>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-1.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Frank</td>
                    <td>Smith</td>
                    <td>Visual Designer</td>
                    <td>Tesla</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-2.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Erik</td>
                    <td>Brooks</td>
                    <td>VP of Software</td>
                    <td>Google</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-3.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Dianna</td>
                    <td>Philipsson</td>
                    <td>Information Systems Manager</td>
                    <td>Nike</td>
                    <td><i class="fa fa-thumbs-up" style="font-size:15px"></i></td>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-4.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Edward</td>
                    <td>Wells</td>
                    <td>Web Strategist</td>
                    <td>Apple</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-9.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Freddie</td>
                    <td>Dixon</td>
                    <td>Data Scientist</td>
                    <td>Ubisoft</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-6.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Adam</td>
                    <td>Jenkins</td>
                    <td>Marketing Manager</td>
                    <td>Adobe</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-14.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Amy</td>
                    <td>Gray</td>
                    <td>Accountant</td>
                    <td>Canon</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="static/img/avatars/users-16.svg" style="width: 32px; height:32px; border-radius: 50%; border:1px solid grey;"></td>
                    <td>Sophie</td>
                    <td>Bailey</td>
                    <td>Front End Developer</td>
                    <td>Oracle</td>
                    <td><i class="fa fa-thumbs-up" style="font-size:15px"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>