<!-- Create Contact -->
<div class="w3-white w3-padding-32 w3-container w3-card-4 w3-section" style="margin-left:16px; margin-right: 16px;">
    <form action="">
        <div class="w3-text-indigo w3-padding-16">
            <h2>Add Contact</h2>
        </div>
        <div class="w3-margin-top">
            <div class="w3-row">
                <div class="w3-col l5 m12 s12 w3-margin-bottom w3-padding-16">
                    <label for="name"><i class="fa fa-user fa-fw w3-large w3-text-indigo"></i></label>
                    <input type="text" class="w3-input contactFormLength" placeholder="First Name" required>
                </div>
                <div class="w3-col l5 m9 s8 w3-margin-bottom w3-padding-16">
                    <label for="name"><i class="fa fa-user fa-fw w3-large w3-text-indigo"></i></label>
                    <input type="text" class="w3-input contactFormLength" placeholder="Last Name" required>
                </div>
                <div class="w3-col l2 m3 s4 w3-margin-bottom w3-padding-16">
                    <input type="checkbox" class="w3-check" placeholder="Favorite"><label><i class="fa fa-thumbs-up fa-fw w3-large w3-text-indigo"></i>Favorite</label><br>

                </div>
            </div>
            <div class="w3-margin-bottom w3-padding-16">
                <label for="name"><i class="fa fa-suitcase fa-fw w3-large w3-text-indigo"></i></label>
                <input type="text" class="w3-input contactFormLength" placeholder="Title" required>
            </div>
            <div class="w3-margin-bottom w3-padding-16">
                <label><i class="fa fa-building fa-fw w3-large w3-text-indigo"></i></label>
                <input type="text" class="w3-input contactFormLength" placeholder="Company" required>
            </div>
            <div class="w3-margin-bottom w3-padding-16">
                <label><i class="fa fa-phone fa-fw w3-large w3-text-indigo"></i></label>
                <input type="text" class="w3-input contactFormLength" placeholder="Phone" required>
            </div>
            <div class="w3-margin-bottom w3-padding-16">
                <label><i class="fa fa-envelope fa-fw w3-large w3-text-indigo"></i></label>
                <input type="text" class="w3-input contactFormLength" placeholder="Email" required>
            </div>
            <div class="w3-margin-bottom w3-padding-16">
                <label><i class="fa fa-location-arrow fa-fw w3-large w3-text-indigo"></i></label>
                <input type="text" class="w3-input contactFormLength" placeholder="Address" required>
            </div>
            <div class="w3-margin-bottom w3-padding-16">
                <label><i class="fa fa-image fa-fw w3-large w3-text-indigo"></i> Profile Picture</label>
                <input type="file" class="w3-input contactFormLength">
            </div>
        </div>
        <div class="w3-margin-bottom w3-padding-16 contactFormLength">
            <button type="submit" class="w3-btn buttonColorTheme w3-left">Add Contact</button>
            <button type="reset" class="w3-btn buttonColorTheme w3-right">Clear</button>
        </div>
    </form>
</div>
<!-- End Create Contact -->