<div class="w3-row-padding">
    <div class="w3-col l4 m4 w3-margin-bottom w3-padding-16">
        <div class=" w3-container w3-red w3-card-4">
            <h2>Contacts</h2>
            <div class="w3-center w3-jumbo">
                <span>219</span>
            </div>
        </div>
    </div>
    <div class="w3-col l4 m4 w3-margin-bottom w3-padding-16">
        <div class=" w3-container w3-lime w3-text-white w3-card-4">
            <h2>Reminders</h2>
            <div class="w3-center w3-jumbo">
                <span>4</span>
            </div>
        </div>
    </div>
    <div class="w3-col l4 m4 w3-margin-bottom w3-padding-16">
        <div class="w3-container w3-orange w3-text-white w3-card-4">
            <h2>Notes</h2>
            <div class="w3-center w3-jumbo">
                <span>8</span>
            </div>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-margin-top w3-padding-16">
    <div class="w3-col l6 w3-margin-bottom">
        <div class="w3-padding-16 w3-card w3-container w3-white">
            <h3 class="w3-text-indigo">Upcoming Reminders</h3>
                <div class="w3-row w3-card w3-container w3-margin-bottom">
                       <h4><strong>For: </strong>Jane Sullivan</h4>
                       <div class="w3-col l9"><p>Business Dinner with Jane @ Red Lobster</p></div>
                       <div class="w3-col l3 w3-tiny "><p>23 Sept. @ 06:30 PM</p></div>      
                </div>
                <div class="w3-row w3-card w3-container w3-margin-bottom">
                       <h4><strong>For: </strong>Ryan Black</h4>
                       <div class="w3-col l9"><p>Proposal review for a social application @ The Hiltons</p></div>
                       <div class="w3-col l3 w3-tiny "><p>10 Oct. @ 02:15 PM</p></div>      
                </div>
        </div>
    </div>
    <div class="w3-col l6 w3-margin-bottom">
        <div class="w3-card w3-container w3-padding-16 w3-white">
            <h3 class="w3-text-indigo">Latest Notes</h3>
            <div class="w3-container w3-card w3-margin-bottom">
                <h4><strong>For: </strong>John Doe</h4>
                <p>John was introduced by Audrey at the convention</p>
            </div>
            <div class="w3-container w3-card w3-margin-bottom">
                <h4><strong>For: </strong> Alexander Ross</h4>
                <p>Alexander's company is going through a merger.</p>
            </div>
            <div class="w3-container w3-card w3-margin-bottom">
                <h4><strong>For: </strong> Scott Fenstein</h4>
                <p>Met Scott at the HTC Developer Conference</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>